{% extends 'base.html' %}
{% block content %}
<h2 class="text-success">Lista de Empleados</h2>
<a href="{% url 'agregar_empleado' %}" class="btn btn-success mb-3">Nuevo Empleado</a>
<div class="card p-3 shadow-sm">
    <table class="table table-hover">
        <thead class="table-success">
            <tr>
                <th>Nombre</th>
                <th>Puesto</th>
                <th>Teléfono</th>
                <th>Fecha Contratación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for e in empleados %}
            <tr>
                <td>{{ e.nombre }} {{ e.apellido }}</td>
                <td>{{ e.puesto }}</td>
                <td>{{ e.telefono }}</td>
                <td>{{ e.fecha_contratacion }}</td>
                <td>
                    <a href="{% url 'detalle_empleado' e.id %}" class="btn btn-sm btn-info"><i class="fas fa-eye"></i></a>
                    <a href="{% url 'actualizar_empleado' e.id %}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'borrar_empleado' e.id %}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}